{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/register.css' %}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<div>
			<h1> درآمدها </h1>
		</div>
		<div id="transaction">
			{% for transaction in transactions %}
				<div class="card">
					<h3> {{ transaction.text }} <h3>
					<h5> {{ transaction.amount }} تومان {{ transaction.date }} <h5>
					<h5> {{ transaction.description }} </h5>
				</div>
			{% endfor %}
		</div>
	</body>
</html>
